<% layout('layouts/boilerplate')%>
<div class="row mt-5 px-3">
  <h1 class="text-center">New Iconic Food</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/foods"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Name</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="food[title]"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Place of origin</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="food[location]"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="food[price]"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="food[description]"
          required
          rows="4"
        ></textarea>
      </div>
      <div class="input-group mb-3">
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
          required
        />
      </div>

      <div class="mb-3 row justify-content-between">
        <a class="col-3 btn btn-secondary" href="/foods"> Back </a>
        <button class="col-3 btn btn-success btn-disabled">Submit</button>
      </div>
    </form>
  </div>
</div>
